*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f1f1ff;
}
.container-full {
  width: 100%;
}
.wrapper{
  width: 100%;
}
.text-align-center{
	text-align: center;
}
.video-fluid{
  width: 100%;
}
.underline{
	width: 100px;
	height: 5px;
	border-radius: 3px;
	background: #cccccc;
	margin: 5px auto;
}
