*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
body {
	background: #f1f1f1;
}
.wrapper {
	width: 100%;
	height: 100vh;
	background: #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	width: 200px;
	height: 200px;
	background: #f1f1f1;
	position: relative;
}
.circle-static {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 7px solid #ccccff;
	border-radius: 50%;
	display: block;
}
.circle-rotate {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 7px solid #f1f1f1;
	border-top-color: #cccccc;
	border-radius: 50%;
	animation: rotatecircle 1s infinite linear;
}
.text-align-center {
	text-align: center;
}
.tag-line {
	width: 70px;
	height: 6px;
	display: block;
	border-radius: 3px;
	background: #cccccc;
	margin: 5px auto;
}
.block-center{
	display: inline;
}
.text-yellow{
	color: yellow;
	margin: 2px 4px;
	font-size: 17px;
	cursor: pointer;
}
.img-full{
	width: 100%;
	height: 100%;
}
@keyframes rotatecircle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}